# Don't copy these into the Docker image

node_modules
# Already installed by npm install in Dockerfile

.env
# Secrets should be passed via environment variables
# not baked into the image

uploads
# User uploaded files should not be in the image

npm-debug.log
.DS_Store